.card {
  /* background-color: #e2ffdb; */
  background-image: url('/assets/img/Let-it-roll-editorial.png');
  background-position: 70% 70%;
}

/* body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
} */
