<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']">Rave Tracker</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#create-event-div">Create Event</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search Events" aria-label="Search" [(ngModel)]="query">
      <button class="btn btn-outline-info my-2 my-sm-0" (click)="routeSearch(query)">Search</button>
    </form>
  </div>
</nav>
