<h3 style="text-align: center;">
  ──────────────────────────────────────────────
  ─██████──██████─██████████████─██████──██████─
  ─██░░██──██░░██─██░░░░░░░░░░██─██░░██──██░░██─
  ─██░░██──██░░██─██░░██████░░██─██░░██──██░░██─
  ─██░░██──██░░██─██░░██──██░░██─██░░██──██░░██─
  ─██░░██████░░██─██░░██──██░░██─██░░██████░░██─
  ─██░░░░░░░░░░██─██░░██──██░░██─██░░░░░░░░░░██─
  ─██████████░░██─██░░██──██░░██─██████████░░██─
  ─────────██░░██─██░░██──██░░██─────────██░░██─
  ─────────██░░██─██░░██████░░██─────────██░░██─
  ─────────██░░██─██░░░░░░░░░░██─────────██░░██─
  ─────────██████─██████████████─────────██████─
  ──────────────────────────────────────────────</h3>
<h1 style="text-align: center;"><strong>¯\_(ツ)_/¯</strong></h1>
<br><br>
<img src="https://media0.giphy.com/media/hEc4k5pN17GZq/200.gif" alt="confused travolta" class="center">
