<div id="all-events" *ngIf="!selected">
  <br>
  <h2>All Events</h2>
  <table class="table table-hover table-dark" id="all-events-table">
    <thead class="thead-light">
      <tr>
        <th scope="col" style="width: 15%;">Event Name</th>
        <th scope="col">Description</th>
        <th scope="col" style="width: 8%;">Start Date</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events" (click)="displayEvent(event)">
        <td><strong>{{event.name}}</strong></td>
        <td>{{event.description}}</td>
        <td>{{event.startDate}}</td>
        <td><img src="{{event.imgURL}}" style="max-width: 90px; max-height: 90px;"></td>
      </tr>
    </tbody>
  </table>
</div>

<div id="event-detail" *ngIf="selected && !editEvent">
  <h2>Event Detail</h2>
  <div class="card" id="event-card" style="width: 30rem;">
    <img src="{{selected.imgURL}}" class="card-img-top" alt="{{selected.name}}">
    <div class="card-body">
      <h5 class="card-title">{{selected.name}}</h5>
      <h6 class="card-subtitle">{{selected.description}}</h6>
      <br>
      <p class="card-text">Start Date: {{selected.startDate}}</p>
      <p class="card-text">End Date: {{selected.endDate}}</p>
      <p class="card-text">Start Time: {{selected.startTime}}</p>
      <p class="card-text">End Time: {{selected.endTime}}</p>
      <p class="card-text">Capacity: {{selected.capacity}}</p>
      <a href="#" class="btn btn-primary">Edit</a>
    </div>
  </div>
</div>
<br>

<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">Create New Event</button>
</p>

<div id="create-event-form" [ngbCollapse]="isCollapsed">
  <div class="card">
    <div class="card-body">

      <form>
        <div class="form-group">
          <label for="name">Event Name</label>
          <input type="text" class="form-control" name="name" id="name" required>
        </div>
        <div class="form-group">
          <label for="description">Event Description</label>
          <textarea class="form-control" name="description" id="description" rows="3"></textarea>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="start-date">Start Date</label>
              <input type="date" class="form-control" name="startDate" id="start-date" required>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="end-date">End Date</label>
              <input type="date" class="form-control" name="endDate" id="end-date">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="start-time">Start Time</label>
              <input type="time" class="form-control" name="startTime" id="start-time" required>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="end-time">End Time</label>
              <input type="time" class="form-control" name="endTime" id="end-time">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="capacity">Event Capacity</label>
              <input type="number" class="form-control" name="capacity" id="capacity">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="img-url">Event Image URL</label>
          <input type="text" class="form-control" name="imgURL" id="img-url">
        </div>
      </form>

    </div>
  </div>
</div>
